﻿@model WebLayer.Models.PlayerModel



<h2>Add/Edit Player</h2>

@using(Html.BeginForm(ViewData["TargetAction"].ToString(), "Crud")) {
    @Html.ValidationSummary()
    @Html.AntiForgeryToken()

    @Html.HiddenFor(m => m.id);
    <div class="editor-label">@Html.LabelFor(m => m.id)</div>
    <div class="editor-field">@Html.EditorFor(m => m.id)</div>
    
    <div class="editor-label">@Html.LabelFor(m => m.name)</div>
    <div class="editor-field">@Html.EditorFor(m => m.name)</div>

    <input type="submit" name="name" value="SEND" />
}
