﻿@model IEnumerable<WebLayer.Models.PlayerModel>

<p style="color:red">@TempData["result"]</p>

@if(Model.Count() ==0) {
    <p>No data in DB!</p>
} else {
    <table>
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(m => m.id)</th>
                <th>@Html.DisplayNameFor(m => m.name)</th>
                <th>@Html.DisplayNameFor(m => m.level)</th>
                <th>Datasheet</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in Model) {
                <tr>
                    <td>@Html.DisplayFor(m => item.id)</td>
                    <td>@Html.DisplayFor(m => item.name)</td>
                    <td>@Html.DisplayFor(m => item.level)</td>
                    <td>@Html.ActionLink("Details", "Details", new { id = item.id })</td>
                    <td>@Html.ActionLink("Edit", "Edit", new { id = item.id })</td>
                    <td>@Html.ActionLink("Remove", "Remove", new { id = item.id })</td>
                </tr>
}
        </tbody>
    </table>
}

