﻿@model WebLayer.Models.PlayerModel

@{
    ViewBag.Title = "CrudDatasheet";
}

<h2>CrudDatasheet</h2>

@Html.ActionLink("Back to the list", "Index")

<table border="1">
    <tr>
        <td>@Html.DisplayNameFor(m => m.id)</td>
        <td>@Html.DisplayFor(m => m.id)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.name)</td>
        <td>@Html.DisplayFor(m => m.name)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.level)</td>
        <td>@Html.DisplayFor(m => m.level)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.xp)</td>
        <td>@Html.DisplayFor(m => m.xp)</td>
    </tr>
</table>

